# Node.js
node_modules/

# Stream Deck files
*.sdPlugin/bin
*.sdPlugin/logs

# WebStorm/IntelliJ
.idea

# Claude
CLAUDE.md

# Jest coverage results
coverage

# "Packed" Stream Deck plugin file
io.raser.streamdeck.scriptrunner.streamDeckPlugin
